.content{
  position:fixed;
  top:60px;
  left:15%;
  width: 85%;
  height: 100vh;
  border:solid red 1px;
  padding: 10px;

}

.f1{
  text-align: center;
  font-size: 20px;
}

.f2{
  border: solid black 1px;
}

.tarifa{
  border-radius: 50px;
  background-color: rgb(255, 239, 148);
  width: 150px;
  height: 75px;
  padding-top: 10px;
  text-align: center;
  border: solid black 1px;
}
.tarifa p{
  color: black;

}

